* {
    padding: 0;
    margin: 0;
}

/*common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

#primary-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* nav section start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding-bottom: 0px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li {
    list-style: none;
    margin-right: 50px;

}

nav>ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* header section start */
.header {
    background-color: #FFF8F3;
    margin-bottom: 130px;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    align-items: center;
    justify-content: space-between;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 700px;
    margin-bottom: 30px;
}

.banner-img {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Main section start */
main {
    max-width: 1140px;
    margin: auto;
}

.about-me {
    border-radius: 10px;
    background: #FFF8F3;
    margin: auto;
    padding: 130px 150px;
    margin-bottom: 130px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.about-info-container {
    display: flex;
}

.about-info {
    margin-right: 40px;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.skills-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skill {
    padding: 33px;
    margin-right: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}