/*common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

#primary-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding:18px 35px;
}

/* nav section start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li {
    list-style: none;
    margin-right: 50px;

}

nav>ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}